.text-primary {
    color: #39C097 !important;
}

.text-secondary {
    color: #7457A0 !important;
}

.btn-primary {
    background-color: #39C097;
    border-color: #39C097;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #4D9D9A;
    border-color: #4D9D9A;
}

.bg-main {
    background-color: #131515 !important;
}

.bg-dark {
    background-color: #232629 !important;
}

.border-black {
    border-color: #101010 !important;
}


@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}